<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>SignupSevlet</display-name>
    <servlet-name>SignupSevlet</servlet-name>
    <servlet-class>signup.SignupSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupSevlet</servlet-name>
    <url-pattern>/SignupSevlet</url-pattern>
  </servlet-mapping>
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ChangePW</display-name>
    <servlet-name>ChangePW</servlet-name>
    <servlet-class>change.ChangePW</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePW</servlet-name>
    <url-pattern>/ChangePW</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryPrint</servlet-name>
    <url-pattern>/GetData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchPrint</servlet-name>
    <url-pattern>/GetSearchedData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Favorite</servlet-name>
    <url-pattern>/ChangeFavorite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FavPrint</servlet-name>
    <url-pattern>/GetFavData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FavCheck</servlet-name>
    <url-pattern>/GetFavCheck</url-pattern>
  </servlet-mapping>
 </web-app>